/* .sidebar{
    display: flex;
    flex-direction: column;
    margin: 50px;
    gap:23px;
    height: 100vh;
}

.active{
    background-color:  black;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
} */


