body{
  background-color: rgb(77, 119, 119);
}
.sidebar{
  background-color: rgb(134, 127, 127);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 100%;
    padding-top: 50px;


}
.header{
  padding-left: 300px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  padding-left: 300px;
}
.card{
   
  flex: 1;
  padding: 20px;

  background-color: blanchedalmond;
  border-radius: 4px;
  box-shadow: 8px 16.0px 16.0px hsla(0, 0%, 0%, 0.2);
} 

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  
  }
th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  }
th {
  background-color: #f2f2f2;
  }
.button-wrapper{
  display:flex;
  
  gap: 5px;
  padding-top: 20px;
  padding-left: 900px;
}

.button {
   
  text-align: center;
   margin-top: 10px;
  width: 100px;
  height: 50px;
 

  background-color: rgb(23, 117, 180);
  border-radius: 4px;
  box-shadow: 8px 16.0px 16.0px hsla(0, 0%, 0%, 0.2);
}




