body{
  background-color: rgb(254, 255, 255);
  margin: 0;

}


.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 20px;
  padding-left: 300px;
}

.card{
   
   flex:1;
    
  padding: 20px;

  background-color: rgb(230, 227, 222);
  border-radius: 4px;
  box-shadow: 8px 16.0px 16.0px hsla(0, 0%, 0%, 0.2);
} 

table {
  width: 60%;
  
  border-collapse: collapse;
  margin: 20px auto;
   padding: 20px;
  
  
  }
th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  }
th {
  background-color: whitesmoke;
  
  }

.button-wrapper{
  display:flex;
  
  gap: 5px;
  padding-top: 20px;
  padding-left: 900px;
}






